{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <h1 class="bg-danger">contact...</h1>
    <a href="{% url 'adminlogin' %}">adminlogin</a>
    <a href="{% url 'userlogin' %}">userlogin</a>
    <a href="{% url 'index' %}">home</a>
   <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>